Repository GreyAdmiral/REACT2024Q3: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run lint:fix

refactor: Refactor API urls
  src/api/Kinopoisk.ts
Due: npm run prettier:fix, npm run lint:fix

fix: fix useLocalStorage
  src/hooks/useLocalStorage.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: refactor pages
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorComponent/ErrorComponent.module.scss
  src/components/ErrorComponent/ErrorComponent.tsx
  src/pages/ErrorPage/ErrorPage.module.scss
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/UndefinedPage/UndefinedPage.module.scss
  src/pages/UndefinedPage/UndefinedPage.tsx
  src/router/router.tsx
  src/router/routes.ts
Due: npm run prettier:fix, npm run lint:fix

feat: Integrated Redux
  package-lock.json
  package.json
  src/components/Movie/Movie.tsx
  src/components/MovieInfo/MovieInfo.module.scss
  src/components/MovieInfo/MovieInfo.tsx
  src/components/Movies/Movies.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Search/Searsh.tsx
  src/hooks/useAppDispatch.ts
  src/hooks/useAppSelector.ts
  src/main.tsx
  src/pages/Main/Main.tsx
  src/store/index.ts
  src/store/slices/infoSlice.ts
  src/store/slices/stateSlice.ts
  src/tools/getFilteredDetails.ts
  src/types/reduxTypes.ts
  src/types/types.ts
  tsconfig.app.json
Due: npm run prettier:fix, npm run lint:fix

feat: Added Loader
  src/components/Header/Header.tsx
  src/components/Loader/Loader.module.scss
  src/components/Loader/Loader.tsx
  src/components/Movie/Movie.tsx
  src/components/MovieInfo/MovieInfo.module.scss
  src/components/MovieInfo/MovieInfo.tsx
  src/components/Movies/Movies.module.scss
  src/components/Movies/Movies.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Search/Searsh.tsx
  src/pages/Main/Main.module.scss
  src/pages/Main/Main.tsx
  src/store/slices/infoSlice.ts
  src/store/slices/stateSlice.ts
  src/types/types.ts
Due: npm run prettier:fix, npm run lint:fix

fix: Reorganization of the structure of settings
  package-lock.json
  package.json
  tsconfig.node.json
  vite.config.d.ts
  vite.config.dev.ts
  vite.config.js
  vite.config.prod.ts
  vite.config.ts
Due: none

fix: Reorganization of the structure of settings
  package-lock.json
  package.json
  vite.config.prod.ts
Due: none

feat: Build Redux
  app-state-management/assets/android-chrome-144x144.png
  app-state-management/assets/android-chrome-192x192.png
  app-state-management/assets/android-chrome-256x256.png
  app-state-management/assets/android-chrome-36x36.png
  app-state-management/assets/android-chrome-384x384.png
  app-state-management/assets/android-chrome-48x48.png
  app-state-management/assets/android-chrome-512x512.png
  app-state-management/assets/android-chrome-72x72.png
  app-state-management/assets/android-chrome-96x96.png
  app-state-management/assets/apple-touch-icon-1024x1024.png
  app-state-management/assets/apple-touch-icon-114x114.png
  app-state-management/assets/apple-touch-icon-120x120.png
  app-state-management/assets/apple-touch-icon-144x144.png
  app-state-management/assets/apple-touch-icon-152x152.png
  app-state-management/assets/apple-touch-icon-167x167.png
  app-state-management/assets/apple-touch-icon-180x180.png
  app-state-management/assets/apple-touch-icon-57x57.png
  app-state-management/assets/apple-touch-icon-60x60.png
  app-state-management/assets/apple-touch-icon-72x72.png
  app-state-management/assets/apple-touch-icon-76x76.png
  app-state-management/assets/apple-touch-icon-precomposed.png
  app-state-management/assets/apple-touch-icon.png
  app-state-management/assets/favicon-16x16.png
  app-state-management/assets/favicon-32x32.png
  app-state-management/assets/favicon-48x48.png
  app-state-management/assets/favicon.ico
  app-state-management/assets/main-CyM_dXsR.js
  app-state-management/assets/main-D3OSGLwJ.css
  app-state-management/assets/manifest.webmanifest
  app-state-management/fonts/Coiny.eot
  app-state-management/fonts/Coiny.svg
  app-state-management/fonts/Coiny.ttf
  app-state-management/fonts/Coiny.woff
  app-state-management/fonts/Coiny.woff2
  app-state-management/images/background.jpg
  app-state-management/index.html
Due: none

fix: URL protocol
  src/api/Kinopoisk.ts
Due: npm run prettier:fix, npm run lint:fix

fix: URL protocol
  app-state-management/assets/main-BC-zihD_.js
  app-state-management/index.html
Due: none

feat: Add change theme button
  public/images/background-light.jpg
  src/assets/sprite.svg
  src/components/ColorSchemeButton/ColorSchemeButton.module.scss
  src/components/ColorSchemeButton/ColorSchemeButton.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Layot/Layot.tsx
  src/hooks/useFastLocalStorage.tsx
  src/hooks/useMediaQuery.tsx
  src/scss/base/components/base.scss
  src/scss/tools/mixins/components/effects.scss
  src/scss/tools/vars/components/colors.scss
  src/store/index.ts
  src/store/slices/colorSchemeSlice.ts
  src/tools/getSchemeIconId.ts
  src/types/types.ts
Due: npm run prettier:fix, npm run lint:fix

fix: Change color scheme
  src/components/ColorSchemeButton/ColorSchemeButton.tsx
  src/components/Layot/Layot.tsx
  src/scss/base/components/base.scss
  src/scss/base/components/rootvars.scss
  src/scss/base/index.scss
  src/scss/tools/zeroing/nullstyle.scss
Due: npm run prettier:fix, npm run lint:fix

feat: Part of the light color theme
  src/components/Search/Searsh.module.scss
  src/pages/ErrorPage/ErrorPage.module.scss
  src/pages/UndefinedPage/UndefinedPage.module.scss
  src/scss/base/components/rootvars.scss
  src/scss/tools/extends/components/components.scss
  src/scss/tools/vars/components/colors.scss
Due: npm run prettier:fix

fix: Light color scheme
  src/components/ColorSchemeButton/ColorSchemeButton.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/components/Movie/Movie.module.scss
  src/components/MovieInfo/MovieInfo.module.scss
  src/components/Movies/Movies.module.scss
  src/components/Pagination/Pagination.module.scss
  src/components/Search/Searsh.module.scss
  src/pages/ErrorPage/ErrorPage.module.scss
  src/scss/base/components/rootvars.scss
  src/scss/tools/extends/components/components.scss
  src/scss/tools/vars/components/colors.scss
  src/scss/tools/zeroing/nullstyle.scss
Due: npm run prettier:fix

feat: Add favicon plugin
  .gitignore
  index.html
  package-lock.json
  package.json
  public/assets/android-chrome-144x144.png
  public/assets/android-chrome-192x192.png
  public/assets/android-chrome-256x256.png
  public/assets/android-chrome-36x36.png
  public/assets/android-chrome-384x384.png
  public/assets/android-chrome-48x48.png
  public/assets/android-chrome-512x512.png
  public/assets/android-chrome-72x72.png
  public/assets/android-chrome-96x96.png
  public/assets/apple-touch-icon-1024x1024.png
  public/assets/apple-touch-icon-114x114.png
  public/assets/apple-touch-icon-120x120.png
  public/assets/apple-touch-icon-144x144.png
  public/assets/apple-touch-icon-152x152.png
  public/assets/apple-touch-icon-167x167.png
  public/assets/apple-touch-icon-180x180.png
  public/assets/apple-touch-icon-57x57.png
  public/assets/apple-touch-icon-60x60.png
  public/assets/apple-touch-icon-72x72.png
  public/assets/apple-touch-icon-76x76.png
  public/assets/apple-touch-icon-precomposed.png
  public/assets/apple-touch-icon.png
  public/assets/favicon-16x16.png
  public/assets/favicon-32x32.png
  public/assets/favicon-48x48.png
  public/assets/favicon.ico
  public/assets/favicons.html
  public/assets/manifest.webmanifest
  tsconfig.node.json
  vite.config.prod.ts
Due: none

feat: Light color scheme
  app-state-management/assets/favicons.html
  app-state-management/assets/main-8bfKCrJK.js
  app-state-management/assets/main-BC-zihD_.js
  app-state-management/assets/main-D3OSGLwJ.css
  app-state-management/assets/main-DeOtlYeM.css
  app-state-management/assets/manifest.webmanifest
  app-state-management/assets/sprite-Czu4xbht.svg
  app-state-management/images/background-light.jpg
  app-state-management/index.html
Due: none

fix: Base url
  package.json
Due: none

fix: Base url
  app-state-management/assets/favicons.html
  app-state-management/assets/manifest.webmanifest
  app-state-management/index.html
Due: none

feat: Implemented checked movies
  src/components/CustomCheckBox/CustomCheckBox.module.scss
  src/components/CustomCheckBox/CustomCheckBox.tsx
  src/components/CustomNotification/CustomNotification.module.scss
  src/components/CustomNotification/CustomNotification.tsx
  src/components/Movie/Movie.module.scss
  src/components/Movie/Movie.tsx
  src/components/Movies/Movies.module.scss
  src/components/Movies/Movies.tsx
  src/hooks/useMediaQuery.tsx
  src/scss/base/components/base.scss
  src/scss/base/components/rootvars.scss
  src/store/index.ts
  src/store/slices/selectedSlice.ts
  src/tools/getCSVLine.ts
  src/tools/getSelectedInfo.ts
  src/types/types.ts
Due: npm run prettier:fix, npm run lint:fix

feat: Implement select movies
  app-state-management/assets/main-8bfKCrJK.js
  app-state-management/assets/main-ChzozH24.js
  app-state-management/assets/main-DeOtlYeM.css
  app-state-management/assets/main-DrWN3new.css
  app-state-management/assets/manifest.webmanifest
  app-state-management/index.html
Due: none

refactor: Refactoring imports
  src/components/Container/Container.tsx
  src/components/CustomCheckBox/CustomCheckBox.tsx
  src/components/CustomNotification/CustomNotification.tsx
  src/components/Movie/Movie.tsx
  src/components/Movies/Movies.tsx
  src/components/Search/Searsh.tsx
  src/hooks/useClickOutside.tsx
  src/hooks/useReactPlaceholder.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: Header; fix: scheme button focus;
  config/settings/paths.js
  config/tasks/dev.js
  config/tasks/prod.js
  src/components/ColorSchemeButton/ColorSchemeButton.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/scss/base/components/rootvars.scss
Due: npm run prettier:fix, npm run lint:fix

fix: small fix
  app-state-management/assets/main-ChzozH24.js
  app-state-management/assets/main-D3VnvQCU.css
  app-state-management/assets/main-DIlbJTG8.js
  app-state-management/assets/main-DrWN3new.css
  app-state-management/assets/manifest.webmanifest
  app-state-management/index.html
Due: none

feat: Add tests
  package-lock.json
  package.json
  src/components/ColorSchemeButton/ColorSchemeButton.test.tsx
  src/components/Container/Container.test.tsx
  src/components/CustomCheckBox/CustomCheckBox.test.tsx
  src/components/CustomNotification/CustomNotification.test.tsx
  src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/components/Footer/Footer.test.tsx
  src/components/Header/Header.test.tsx
  src/components/Layot/Layot.test.tsx
  src/components/Loader/Loader.test.tsx
  src/components/Movie/Movie.test.tsx
  src/components/MovieInfo/MovieInfo.test.tsx
  src/components/Search/Searsh.test.tsx
  src/pages/UndefinedPage/UndefinedPage.test.tsx
  src/store/slices/colorSchemeSlice.ts
  src/store/slices/infoSlice.ts
  src/store/slices/selectedSlice.ts
  src/store/tests/colorSchemeSlice.test.ts
  src/store/tests/infoSlice.test.ts
  src/store/tests/selectedSlice.test.ts
  tsconfig.app.json
  vite.testconfig.ts
  vitest.setup.ts
Due: npm run prettier:fix, npm run lint:fix

feat: Add test state slice
  src/store/slices/stateSlice.ts
  src/store/tests/stateSlice.test.ts
Due: npm run prettier:fix, npm run lint:fix

feat: The state test is supplemented
  src/store/tests/stateSlice.test.ts
Due: npm run prettier:fix, npm run lint:fix

feat: Auxiliary functions tests
  src/tools/tools.test.ts
Due: npm run prettier:fix, npm run lint:fix

feat: The source of detailed information has been changed
  src/api/Kinopoisk.ts
  src/components/Movie/Movie.tsx
  src/components/MovieInfo/MovieInfo.module.scss
  src/components/MovieInfo/MovieInfo.tsx
  src/scss/base/components/rootvars.scss
  src/scss/style.scss
  src/store/slices/infoSlice.ts
  src/store/slices/selectedSlice.ts
  src/store/slices/stateSlice.ts
  src/store/tests/infoSlice.test.ts
  src/tools/getFilteredDescription.ts
  src/tools/getFilteredDetails.ts
  src/tools/getFilteredFilms.ts
  src/tools/isExist.ts
  src/types/types.ts
Due: npm run prettier:fix, npm run lint:fix

feat: Add filtered films test
  src/tools/tools.test.ts
Due: npm run prettier:fix, npm run lint:fix

feat: fix bugs
  app-state-management/assets/main-B2zyW_C_.js
  app-state-management/assets/main-D3VnvQCU.css
  app-state-management/assets/main-DIlbJTG8.js
  app-state-management/assets/main-DJ3lzIdB.css
  app-state-management/index.html
Due: none

feat: Added RTK Query
  src/api/Kinopoisk.ts
  src/api/filmsApi.ts
  src/components/Header/Header.tsx
  src/components/Layot/Layot.tsx
  src/components/Movie/Movie.test.tsx
  src/components/Movie/Movie.tsx
  src/components/Movies/Movies.tsx
  src/components/Search/Searsh.test.tsx
  src/components/Search/Searsh.tsx
  src/pages/Main/Main.tsx
  src/store/index.ts
  src/store/slices/stateSlice.ts
  src/store/tests/stateSlice.test.ts
  src/types/types.ts
Due: npm run prettier:fix, npm run lint:fix

feat: Add test coverage
  package-lock.json
  package.json
  vite.testconfig.ts
Due: none

feat: Settings
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .gitignore
  netlify.toml
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  postcss.config.mjs
  src/vite-env.d.ts
  svgr.d.ts
  tsconfig.app.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  vite.config.dev.ts
  vite.config.prod.ts
  vite.config.ts
  vite.testconfig.ts
  vitest.config.mts
  vitest.setup.mts
Due: npm run prettier:fix, npm run lint:fix

feat: Graph resources
  public/assets/android-chrome-144x144.png
  public/assets/android-chrome-192x192.png
  public/assets/android-chrome-256x256.png
  public/assets/android-chrome-36x36.png
  public/assets/android-chrome-384x384.png
  public/assets/android-chrome-48x48.png
  public/assets/android-chrome-512x512.png
  public/assets/android-chrome-72x72.png
  public/assets/android-chrome-96x96.png
  public/assets/apple-touch-icon-1024x1024.png
  public/assets/apple-touch-icon-114x114.png
  public/assets/apple-touch-icon-120x120.png
  public/assets/apple-touch-icon-144x144.png
  public/assets/apple-touch-icon-152x152.png
  public/assets/apple-touch-icon-167x167.png
  public/assets/apple-touch-icon-180x180.png
  public/assets/apple-touch-icon-57x57.png
  public/assets/apple-touch-icon-60x60.png
  public/assets/apple-touch-icon-72x72.png
  public/assets/apple-touch-icon-76x76.png
  public/assets/apple-touch-icon-precomposed.png
  public/assets/apple-touch-icon.png
  public/assets/favicon-16x16.png
  public/assets/favicon-32x32.png
  public/assets/favicon-48x48.png
  public/assets/favicon.ico
  public/assets/favicons.html
  public/assets/manifest.webmanifest
  public/images/sprite.svg
  src/app/icon.svg
  src/assets/images/loading.svg
Due: npm run prettier:fix

feat: Tests
  src/app/error.test.tsx
  src/app/layout.test.tsx
  src/app/movies/[id]/loading.test.tsx
  src/app/not-found.test.tsx
  src/components/ColorSchemeButton/ColorSchemeButton.test.tsx
  src/components/CustomCheckBox/CustomCheckBox.test.tsx
  src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/components/Footer/Footer.test.tsx
  src/components/Header/Header.test.tsx
  src/components/HeaderLink/HeaderLink.test.tsx
  src/components/Layot/Layot.test.tsx
  src/components/Loader/Loader.test.tsx
  src/components/Movie/Movie.test.tsx
  src/components/MovieInfo/MovieInfo.test.tsx
  src/components/Search/Searsh.test.tsx
  src/hooks/hooks.test.tsx
  src/store/tests/selectedSlice.test.ts
  src/tools/tools.test.ts
Due: npm run prettier:fix, npm run lint:fix

Path conditions:
  npm run prettier:fix: any of: ./src/**/*
  npm run lint:fix: any of: ./src/**/*.{tsx,jsx,ts}
